pkgbase = vvenc
	pkgdesc = A H.266/VVC (Versatile Video Coding) encoder
	pkgver = 1.11.1
	pkgrel = 1
	url = https://github.com/fraunhoferhhi/vvenc/
	arch = x86_64
	license = BSD-3-Clause-Clear
	makedepends = cmake
	depends = gcc-libs
	source = https://github.com/fraunhoferhhi/vvenc/archive/v1.11.1/vvenc-1.11.1.tar.gz
	sha256sums = 4f0c8ac3f03eb970bee7a0cacc57a886ac511d58f081bb08ba4bce6f547d92fa

pkgname = vvenc
